@charset "utf-8";
/*********************************************
* 구조 가이드 
*********************************************/
.wrap { width:100%; min-width:320px;  z-index:900; color:#fff; }
/* sub  */
.header { width:100%; height:80px;  z-index:1000;  position:absolute; top:0; left:0; background: #fff;  }
.gnb { width: 68.75%; /* 440/640 */ height:100%; z-index:1;  position: absolute; top:0; right:0; background:#fff;  }
.container { width:100%; min-height: 300px;z-index:900;  position:relative; padding-top:86px; background:#fff;  }
.container .w600 { margin-left:3.125%;  margin-right:3.125%;  /* 20/640 */;  }
.content {position:relative; display: block; background:#fff;   }
.footer { width:100%; height:177px; position: relative; bottom:0; z-index:900; background:#ededed; border-top:2px solid #d5d5d5;  }
/* main */
.header.main { height:95px; box-shadow: 0px 3px 10px #7f7a79; background: #fff; }
.container.main { padding-top: 95px;   background-color:#ededed; }
.container.main  .content {position:relative; display: block; margin: 0 3.125%; /* 20/640 */; padding-bottom: 10px; background:none; }
.footer.main { width:100%; height:147px; }
/* 네비 펼치기전에 미리  모션 적용  */
.wrap,
.header ,
.container {
  transition: margin-left 0.2s;
  -webkit-transition: margin-left 0.2s; /* Safari */ 
  transition-timing-function: ease;    /* cubic-bezier(.17,.67,.83,.67) */
  -webkit-transition-timing-function: ease;   /* Safari and Chrome */
}
.gnb {
  transition: right 0.2s;
  -webkit-transition: right 0.2s; /* Safari */ 
  transition-timing-function: ease;    /* cubic-bezier(.17,.67,.83,.67) */
  -webkit-transition-timing-function: ease;   /* Safari and Chrome */
}
/* 네비 오픈 (펼침) */
.wrap.open  { border-right:1px solid #818284;   }
.wrap.open ,
.wrap.open  .header {  margin-left:-68.7%; /* 440/640 */  }
.wrap.open  .gnb { right:-2px; /* 440/640 */   }
.wrap.open  .gnb_search_box input { visibility:visible; }
/*********************************************
*  header      0.875em;  //  14 
*********************************************/
.logo { width:100%; height: 44px; border-bottom: 1px solid #a5a5a5;  background:url(../../common/images/logo.png) no-repeat 50% 12px;  background-size:87px 22px; }
.logo a { width:170px; height:40px;  display:block; margin:auto; text-indent: -9999em; }
.gnb_icon { width:30px; height:30px; position:absolute; top:7px; right:10px; }
.gnb_icon span { width:100%; height:100%;  display:block; text-indent: -9999em; background:url(../../common/images/nav_btn.png) no-repeat  0 0; background-size:30px 30px ;  } /* 검색창  600/640 */
.search { width:93.75%; height:32px; position:relative; margin:0 auto; margin-top:7px; border:2px solid #04b25a;  background:url(../../common/images/i_serach_01.png) no-repeat  98% 7px; background-size:17px;  } 
.search input { width:80%; height:32px; color:#9a9a9a; font-weight:bold; border:none; }  
.search .btn_headerSearch { width:11%; position:absolute; top:0; right: 0; text-indent:-9999em; cursor:pointer; background:transparent; }
.global_back { width:30px; height:30px; position:absolute; top:7px; left:10px; text-indent: -9999em; background:url(../../common/images/back.png) no-repeat  0 0; background-size:30px 30px ; }
/*********************************************
*  gnb     border-right:1px solid #818284;    border:none;   visibility:hidden; 
*********************************************/
/* 네비안에  검색 */
.gnb_search_box {  margin-left: -1px; padding:5px 0 5px;  background-color:#04b25a; }
.gnb_search_box input { visibility:hidden; background: transparent; border:none;  } 
.gnb_search_bg { width: 94%; /* 399/440 */ height:35px; position: relative; line-height:35px; margin:auto; color:#9a9a9a; background:#fff url(../../common/images/i_serach_02.png) no-repeat  10px 10px; background-size:26px;  }
input.gnb_searchText { width: 82%; /* 290/399 */ height:35px; color:#9a9a9a; position:absolute; top:0; left:40px; padding-left: 5px; font-weight: bold;  }
input.btn_gnbSearch { width:37px; height:35px; display:block; text-indent:-9999em;  }
/* 네비*/
.gnb_ul>li { min-height:45px; border-top: 1px solid #737373;  border-bottom:1px solid #9e9e9e; background:#818284; }
.gnb_ul>li:first-child { border-top:none; }
.gnb_ul>li>a {font-size:1.063em; font-weight:bold; color:#fefefe; line-height:45px;display:block; background:url(../../common/images/gnb_arrow_down.png) no-repeat 95% 52%; background-size:12px;}
.gnb_ul>li>a.onhover { background-color:#5a5a5b; }
.gnb_ul>li>a>span {  display: inline-block;text-indent:42px; background:url(../../common/images/gnb_icon.png) no-repeat  0 0; background-size:41px;}
.gnb_i_01 { background-position: 0 0 !important;  }
.gnb_i_02 { background-position: 0 -45px !important;   }
.gnb_i_03 { background-position: 0 -90px !important;   }
.gnb_i_04 { background-position: 0 -135px !important;   }
.gnb_i_05 { background-position: 0 -180px !important;   }
.gnb_i_06 { background-position: 0 -227px !important;   }
.gnb_i_07 { background-position: 0 -270px !important;   }
.gnb_i_08 { background-position: 0 -315px !important;   }
.ly {   background-color:#fff;}

.ly>li { min-height:40px;}
.ly>li>a { text-indent:32px;display: block;  line-height:45px; color:#828282;}
.ly>li>a:hover ,
.ly>li>a.onhover { background:#3498ff; color:#fff;  }
.gnb_copyright{ text-align: center;  color:#848484; padding:20px 0 40px 0; }
/*********************************************
*  메인 컨텐츠    // 초록색 04b25a    // border-bottom:1px solid #e5e5e5;  
*********************************************/
.bxslider_box { position: relative; margin:auto; text-align: center;  }
.bxslider_box  .btns_01  {  position: absolute; top:10px; right:10px; }
/* 제품  아이콘 3개 */
.products_go { overflow: hidden; border-top:1px solid #e5e5e5;  border-bottom:1px solid #e5e5e5; background-color:#fff; margin-bottom: 10px; }
.products_go li { float:left; width: 33%; /* 198/600 */text-align: center; border-left:1px solid #e5e5e5;  }
.products_go li:first-child { border-left:none; }
/* 제품소개 슬라이드   배너 */
.products_about { position: relative; padding-top:16px;  border-bottom:1px solid #e5e5e5;  background-color:#fff; margin-bottom: 10px; }
.products_about h1 { font-size:1.063em;  line-height:100%;  text-indent:10px;color:#fff;  font-weight:bold; color:#04b25a; text-align: left;  }
.products_about .more_arrow {  margin:13px 0 0 0;   }
/* .products_about_list {   margin:10px auto  8px  auto; overflow:hidden; background: gray; border:1px solid red; }
.products_about_list li { width: 50%; float:left;   }
.btn_prev { width:20px; height:28px; font-size: 1px; color: transparent; background:url(../../common/images/arrow_left.png) no-repeat  0 0; background-size: 17px; }
.btn_prev.left { position: absolute; top:80px; left:9px;}
.btn_next { width:20px; height:28px; font-size: 1px; color: transparent; background:url(../../common/images/arrow_right.png) no-repeat  0 0; background-size: 17px; }
.btn_next.right { position: absolute; top:80px; right:9px;} *?

/* 새소식, 주가정보 */
.news_info { border-bottom:1px solid #e5e5e5;  margin-bottom: 10px; }
.news_info li { height:48px; position: relative; text-align: left; line-height: 44px;  padding: 0 10px; background-color:#fff;}
.news_info li:first-child { margin-bottom: 1px ; line-height: 60px; }
.news_info li strong,
.news_info li span { display: inline-block;  }
.news_info li strong:first-child {  width: 20%; /* 120/600 */color:#04b25a;text-align: left; }
.news_info .more_arrow { position: absolute; top:15px; right:10px;}
.won { width: 23%; /* 600 */ color:#4d4d4d; font-weight: bold; }


.up { width: 22px; height:20px; text-indent: -999em; vertical-align: middle; display:inline-block;  background:url(../../common/images/i_up.png) no-repeat 0  0; background-size:20px; }
.down { width: 22px; height:20px; text-indent: -999em;   vertical-align: middle; display:inline-block;  background:url(../../common/images/i_down.png) no-repeat 0  0; background-size:20px; }
.down_green { width: 20%; /* 600 */  font-weight:bold; text-indent: 10px; color:#04b25a; background:url(../../common/images/arrow_down.png) no-repeat  0 50%; background-size:7px; }

.news_info .change_01 { width:20px; height:20px; text-indent: -999em; vertical-align: middle; display:inline-block; margin-right:0; background:url(../images/i_arrow.png) no-repeat 0 0 ; background-size:17px; }
.news_info .change_01.up { background-position:0 4px;  }
.news_info .change_01.down { background-position:0 -37px;}
.news_info .change_01.stand { background-position:0 -69px;}
.news_info .change_02{width:60px;display:inline-block;  line-height:120%;  font-weight:bold; text-indent: 10px; color:#04b25a;background:url(../images/i_arrow.png) no-repeat 0 -90px; background-size:17px; }
.news_info .change_02.up { background-position:0 -102px;}
.news_info .change_02.down  { background-position:0 -143px;}
.news_info .change_02.stand  { background-position:0 -180px;}

.gray { width: 55px; /* 600 */color:#999999; display:inline-block; font-weight:bold; }
/* 입사지원 고객문의  */
.customer_go { overflow: hidden; border-top:1px solid #e5e5e5;  border-bottom:1px solid #e5e5e5; background-color:#fff; }
.customer_go li { width: 49%; /* 198/600 */ float:left; text-align: center; border-left:1px solid #e5e5e5; }
.customer_go li a {   display: block; text-align: center; margin: auto;  }
/*********************************************
*  footer   z-index:1000; 
*********************************************/
.fnb  { width:100%; height:37px; line-height:36px;  background-color:#4d93cd;   margin-bottom: 20px; }
.fnb ul li {  width:49%; text-align:center; float:left; border-right:1px solid #376b96; border-left: 1px solid #5db2f8; }
.fnb ul li:last-child { border-right:none; }
.fnb a {   color:#fff; font-weight: bold; }
.lnb { text-align:center; margin-bottom: 15px; }
.lnb a {color:#848484; font-weight: bold; }
.lnb span { display: inline-block; padding: 0 10px;}
.copyright { text-align:center;  color:#7d7d7d; font-weight: bold; }
/*********************************************
* 공통
*********************************************/
/*! 이미지 대체 기법 */
.ir {overflow: hidden; text-indent: -9999em; }
/*! 스크린리더/브라우저에서 모두 감추기 */
.hidden {display: none !important; visibility: hidden; }  
hr {display: none !important; visibility: hidden; }
/*! 스크린리더에서는 읽기 가능 */
.acc-hidden {border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/*! 스크린리더에서는 읽기 가능 + 포커스 적용 */
.acc-hidden.focusable:active,
.acc-hidden.focusable:focus {clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
/*! 화면에서는 안 보이지만, 레이아웃 공간 적용 */
.invisible {visibility: hidden; }
/*! float 적용 요소 감싸는 클래스 - clearfix */
.clear {*zoom:1; }
.clear:after {content:''; display:block; clear:both; }

.float_c { float:none !important; }
#no_content  { width:93.75%; display: table; margin:0 auto; padding: 20px 0;}
#no_content p  { width:100%; display: table-cell; color: #686a71; font-size: 1.1em; background:#dbdbdb; vertical-align: middle; text-align: center; }
/*********************************************
*   btn
*********************************************/
/* 메인 비쥬얼 버튼 */
.btns_01 .won { width:10px; height: 10px; margin-left:8px;   background:#fff;  font-size: 1px;  color: transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;  }
.btns_01 .won.on {  background:#04b25a;  } 
/* 메인 배너  버튼 */
.btns_02  { display: block; text-align:center; }
.btns_02   .won  { width:10px;  height: 10px; margin-left:8px;   background:#dedede;  font-size: 1px;  color: transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
     -o-border-radius: 5px;
    border-radius: 5px;  }
.btns_02   .won.on  {  background:#04b25a;  } 
.more_arrow {  width:20px; line-height:20px; font-size: 1px ; color: transparent;  display:inline-block; position: absolute; top:0; right:10px;  
  background:url(../../common/images/btn_more.png) no-repeat 100% 0; background-size:20px; }
/** sub **/
.btn_center { text-align: center; margin:0 auto; }
.button { height: 32px; line-height:32px;   font-weight:bold; display:inline-block; vertical-align:middle; }
.button.green { width:20%; float:right;  color: #04b25a; border: 1px solid #04b25a;  font-family:Helvetica, sans-serif, 돋움, dotum; }
.new { width:34px; height:34px;position: absolute; top:0; left:0; background:url(../../common/images/products/i_new.png) no-repeat 0 0;  background-size: 34px; text-indent: -9999em; z-index:9999 }
.sns { height:42px; line-height:40px;  text-align: right;  }
.sns a {width:24px; height:24px; display: inline-block; overflow: hidden; margin-top:9px;  margin-left:7px; }
.sns a span {display: block; text-indent:-9999em; color:transparent;}
.sns .i_f {background:url(../../common/images/products/sns_f.png) no-repeat 0 0; background-size: 24px;}
.sns .i_t {background:url(../../common/images/products/sns_t.png) no-repeat 0 0; background-size: 24px;}
.sns .i_c {background:url(../../common/images/products/sns_c.png) no-repeat 0 0; background-size: 24px;}
/** 이전글 다음글  **/
.button01 { width:26.875%; height: 32px; color:#939393; font-size: 0.929em; font-weight:bold; display:inline-block; background:#fbfbfb;  border:1px solid #a9acb3;  }
.button01.prev { text-indent: 9%; background:#fbfbfb;  }
.button01.next { text-indent: -7%; background:#fbfbfb; }
.button01.prev em {  color:#a9acb3; font-size: 0.85em; padding-right: 5px; line-height: 32px; }
.button01.next em {  color:#a9acb3; font-size: 0.85em; padding-left: 5px; line-height: 32px; }
.w50g { width: 49.5% !important; /* 297/600 */ }
/*********************************************
*   margin padding
*********************************************/
.mT10 { margin-top:10px;}
.mT20 { margin-top:20px;}
.mT30 { margin-top:30px;}
.mR5{ margin-right:5px;}
.mB5{ margin-bottom:5px;}
.mB10 { margin-bottom:10px;}
.mB15 { margin-bottom:15px;}
.mB40 { margin-bottom:40px;}
.pT10 { padding-top:10px;}
.pB20 { padding-bottom: 20px;}
.pB30 { padding-bottom: 30px;}
.pB40 { padding-bottom: 40px;}
/*********************************************
*   이거저거 
*********************************************/
.lineB { border-bottom: 1px solid #dbdbdb; }
.center { text-align: center; }