@charset "utf-8";
/* Reset */
html, 
body{ width:100%; }
html{ overflow-x:hidden; overflow-y:scroll;}
body,div,td,th,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button,legend,input,textarea,label,figure,figcaption
 { margin:0;  padding:0; font-weight:normal; font-family:NanumGothic, Malgun Gothic, 돋움 ,dotum, Helvetica, sans-serif; }
body{background-color:#ffffff;  text-align:left; *word-break:break-all; -ms-word-break:break-all; }  /* 기본 14px */
img,fieldset,iframe{ border:0 none; }
li{list-style:none}
input,select,button,label {vertical-align:middle}
img{vertical-align:top; }
i,em,address{font-style:normal}
label,button{cursor:pointer}
button{margin:0;padding:0; border:0; background:#fff;  }
a{color:#686a71; text-decoration:none; }
a:hover{color:#686a71; text-decoration:none}
button *{position:relative}
button img {left:-3px;*left:auto; }
option{padding-right:6px}
hr{visibility: hidden; }
legend{*width:0}
table{ table-layout:fixed;  border-collapse:collapse; border-spacing:0; }
body {
 font-size: 0.875em; /* 14/16 */    /*  14px기준으로   13 =>  0.929em,  15 =>  1.071em    16=>  1.143em */ 
 background:#fff; 
}
html {
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
h1,h2,h3,h4,h5 {  font-size: 1em;  }

/*********************************************
* FORM   @-moz-document url-prefix() { button span {left:-3px; top:-1px;*left:auto; } } 
*********************************************/
select   { min-width:128px; padding:7px 0 7px 5px; height:32px; line-height:32px;  border:solid 1px #cac5c4; font-size:13px; color:#a9a8a8;  vertical-align: middle;}
input.check  { height: 12px; border:solid 0 #cbcbcb; vertical-align:middle;}
input.radio  { height: 12px; border:solid 0 #cbcbcb; vertical-align:middle;}
input {  height:32px; position: relative;  font-size:1em; color:#8f887c; text-indent: 5px; line-height:100%; vertical-align: middle;  border:1px solid #dbdbdb; }
input[type="checkbox"] { border:none; }
::-webkit-input-placeholder{ color:#8f887c; font-size:1.063em; line-height:100%;  } /* 웹킷 전용 속성 */

textarea    {border:solid 1px #cac5c4; font-size:12px; color:#8f887c; line-height:15px; padding:5px;background-color:#ffffff;}
/*********************************************
* BODY   background:#252323; 
*********************************************/
html, body {
      scrollbar-3dlight-color:#e6e6e6;
	scrollbar-arrow-color:#7E7E7E;
	scrollbar-track-color:#FFFFFF;
	scrollbar-darkshadow-color:#FFFFFF;
	scrollbar-face-color:#FFFFFF;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-shadow-color:#e6e6e6;
}
/*********************************************
* 
*********************************************/
img { max-width: 100%; } 
audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}




