#skip a {
	top: -20px; width: 100%; height: 1px; color: rgb(165, 112, 106); line-height: 1px; overflow: hidden; font-size: 1px; display: block; position: absolute; z-index: 5000;
}
#skip a:focus {
	background: rgb(255, 255, 255); padding: 20px 0px; border: 2px solid rgb(4, 178, 90); border-image: none; top: 0px; height: auto; text-align: center; color: rgb(51, 51, 51); font-size: 1em; display: block;
}
#skip a:active {
	background: rgb(255, 255, 255); padding: 20px 0px; border: 2px solid rgb(4, 178, 90); border-image: none; top: 0px; height: auto; text-align: center; color: rgb(51, 51, 51); font-size: 1em; display: block;
}
.wrap {
	margin: 0px; width: 100%; border-top-color: rgb(255, 255, 255); border-top-width: 1px; border-top-style: solid; position: relative; min-width: 980px;
}
.header {
	left: 0px; top: 39px; width: 100%; position: absolute; z-index: 1001;
}
.container {
	margin: 0px auto 150px; top: 149px; width: 980px; position: relative; min-height: 650px;
}
.footer {
	width: 100%; border-top-color: rgb(229, 229, 229); border-top-width: 1px; border-top-style: solid; position: relative; z-index: 10; min-height: 172px;
}
.header_content {
	left: 50%; top: 0px; width: 980px; margin-left: -490px; position: absolute;
}
.footer_content {
	margin: 39px auto 0px; width: 980px; position: relative;
}
.logo {
	background: url("../images/common/logo.png") no-repeat 0px 2px; left: 0px; top: 0px; width: 160px; height: 70px; position: absolute;
}
.logo a {
	padding: 10px 0px; width: 140px; height: 70px; text-indent: -9999em; margin-top: 10px; display: block;
}
.lnb_ul {
	top: -28px; height: 18px; right: 0px; position: absolute; z-index: 4000;
}
.lnb_ul li {
	margin-left: -4px; display: inline-block;
}
.lnb_ul li a span {
	width: 80px; height: 18px; text-indent: -9999em; display: block;
}
.lnb_ul .lnb_contact {
	background: url("../images/common/slide_lnb.png") no-repeat 0px 0px; width: 80px;
}
.lnb_ul .lnb_sitemap {
	background: url("../images/common/slide_lnb.png") no-repeat -80px 0px; width: 91px;
}
.lnb_ul .lnb_english {
	background: url("../images/common/slide_lnb.png") no-repeat -171px 0px; width: 82px;
}
.lnb_ul .lnb_print {
	background: url("../images/common/slide_lnb.png") no-repeat -265px 0px; width: 26px;
}
.header_bg {
	margin: 0px; width: 100%; border-top-color: rgb(192, 192, 192); border-bottom-color: rgb(176, 176, 176); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; min-height: 57px; background-color: rgb(255, 255, 255);
}
.gnb_ul {
	margin-left: 350px; display: block;
}
.gnb_ul > li {
	float: left; position: relative;
}
.gnb_ul > li > a {
	padding: 17px 0px 20px; text-align: left; color: rgb(91, 90, 95); font-size: 16px; font-weight: 600; display: block;
}
.gnb_ul > li > a:hover {
	color: rgb(4, 178, 90);
}
.gnb_ul > li > a.onhover {
	color: rgb(4, 178, 90);
}
.gnb_ul .gnb_01 {
	width: 130px;
}
.gnb_ul .gnb_02 {
	width: 130px;
}
.gnb_ul .gnb_03 {
	width: 130px;
}
.gnb_ul .gnb_04 {
	width: 130px;
}
.gnb_ul .gnb_05 {
	width: 110px;
}
.gnb_ul .gnb_06 {
	width: 62px;
}
.ly {
	left: 0px; width: 100%; position: absolute;
}
.gnb_ul :first-child.ly {
	margin-left: 26px;
}
.ly a {
	color: rgb(147, 147, 147); line-height: 30px; font-size: 14px; font-weight: 600;
}
.ly a:hover {
	color: rgb(4, 178, 90);
}
.ly a.onhover {
	color: rgb(4, 178, 90);
}
.main_visual {
	width: 560px; height: 646px; float: left; position: relative;
}
.main_content {
	width: 400px; margin-left: 580px; vertical-align: top; position: relative;
}
#slidewrap {
	margin: 0px; width: 560px; height: 646px; float: left;
}
#slider {
	width: 560px; height: 646px; overflow: hidden;
}
#slider img {
	left: 0px; top: 0px; display: none; position: absolute;
}
.nivo-nextNav {
	display: none;
}
.nivo-prevNav {
	display: none;
}
.nivo-slice {
	height: 100%; display: block; position: absolute; z-index: 5;
}
.nivo-box {
	display: block; position: absolute; z-index: 5;
}
.nivo-html-caption {
	display: none;
}
.nivo-caption {
	left: 30px; top: 110px; width: 192px; text-align: center; position: absolute; z-index: 60;
}
.nivo-caption p {
	margin: 0px;
}
.nivo-caption .title {
	font-size: 16px;
}
.nivo-controlNav {
	top: 20px; width: 192px; height: 16px; text-align: right; right: 16px; display: block; position: absolute; z-index: 51;
}
.nivo-controlNav a {
	background: url("../images/main/button.png") no-repeat 0px 0px; width: 16px; height: 16px; text-align: left; text-indent: -9999px; margin-left: 10px; display: inline-block; cursor: pointer;
}
.nivo-controlNav .active {
	background: url("../images/main/button_active.png") no-repeat 0px 0px;
}
.products {
	height: 205px; position: relative;
}
.products > h1 {
	background: url("../images/main/slide_main.png") no-repeat 0px -50px; margin: 0px 0px 7px 18px; width: 36px; height: 20px;
}
.products > h1 > span {
	width: 200px; text-indent: -9999em; display: block;
}
.products > p {
	margin: 0px 0px 0px 18px; color: rgb(150, 150, 150); font-size: 14px; font-weight: bold;
}
.hot {
	left: 64px; top: 2px; overflow: hidden; position: absolute;
}
.hot i {
	border-radius: 3px; text-align: center; color: rgb(255, 255, 255); font-size: 11px; margin-right: 5px; float: left; min-width: 34px; -webkit-border-radius: 3px; -moz-border-radius: 3px;
}
.hot .new {
	background-color: rgb(0, 202, 116);
}
.hot .hot_01 {
	background-color: rgb(240, 91, 84);
}
.hot .best {
	background-color: rgb(77, 170, 255);
}
.slides1_wrap {
	border: 0px solid rgb(0, 0, 0); border-image: none; width: 370px; height: 150px; overflow: hidden; margin-top: 10px; margin-left: 17px;
}
#slides1 {
	width: 370px; overflow: hidden;
}
#slides1 ul {
	display: table;
}
#slides1 li {
	width: 370px; height: 148px; overflow: hidden; display: table-cell; position: relative;
}
#slides1 .content img {
	position: relative;
}
.auto_controls {
	top: 0px; right: 0px; position: absolute;
}
.auto_controls a {
	color: red; line-height: 1px; overflow: hidden; font-size: 0px;
}
.auto_controls a:hover {
	color: rgb(228, 25, 150);
}
.slides1_wrap .prev {
	left: 0px; top: 120px; position: absolute;
}
.slides1_wrap .next {
	top: 120px; right: 0px; position: absolute;
}
.bx_pager {
	top: 20px; right: 0px; position: absolute;
}
.bx_pager a {
	padding: 4px 0px 0px 7px; width: 14px; height: 17px; color: rgb(255, 255, 255); font-size: 11px; margin-right: 6px; float: left;
}
.news {
	width: 400px; height: 200px; position: relative;
}
.news .more {
	top: 0px; width: 55px; right: 0px; position: absolute;
}
.news_title {
	background: url("../images/main/slide_main.png") no-repeat 0px -150px; margin: 20px 0px 0px 19px; height: 20px;
}
.news_title > span {
	width: 200px; text-indent: -9999em; display: block;
}
.news_ul {
	width: 100%; height: 180px; margin-top: 5px;
}
.news_ul li {
	overflow: hidden; font-size: 14px; margin-left: 17px; border-top-color: rgb(229, 229, 229); border-top-width: 1px; border-top-style: dashed; display: block;
}
.news_ul li:first-child {
	border-top-color: rgb(229, 229, 229); border-top-width: 0px; border-top-style: dashed;
}
.news_ul li a {
	width: 250px; height: 33px; line-height: 33px; overflow: hidden; float: left; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.news_ul li span {
	color: rgb(185, 185, 185); line-height: 33px; font-size: 12px; margin-right: 20px; float: right;
}
.customer {
	width: 100%; height: 101px; overflow: hidden; border-top-color: rgb(229, 229, 229); border-bottom-color: rgb(229, 229, 229); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; position: relative;
}
.customer_ul li {
	height: 101px; border-left-color: rgb(229, 229, 229); border-left-width: 1px; border-left-style: solid; float: left;
}
.customer_ul li:first-child {
	border-left-color: rgb(229, 229, 229); border-left-width: 0px; border-left-style: solid;
}
.customer_ul .left_no {
	border-left-color: currentColor; border-left-width: medium; border-left-style: none;
}
.kosdaq {
	padding: 4px 0px 0px; width: 100%; line-height: 100px; overflow: hidden; border-top-color: rgb(229, 229, 229); border-bottom-color: rgb(229, 229, 229); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.kosdaq > h1 {
	background: url("../images/main/slide_main.png") no-repeat 16px -85px; line-height: 50px; float: left;
}
.kosdaq > h1 > span {
	width: 70px; text-indent: -9999em; display: block;
}
.kosdaq_ul {
	width: 310px; height: 50px; line-height: 44px; font-family: Helvetica, µ¸¿ò ,dotum, sans-serif; font-weight: bold; margin-left: 10px; float: left;
}
.kosdaq_ul li {
	float: left;
}
.kosdaq_ul .change_01 {
	background: url("../images/main/slide_main.png") no-repeat -350px 7px; width: 40px; text-indent: -50px; overflow: hidden; font-size: 1px; margin-right: 10px; display: block;
}
.kosdaq_ul .change_01.up {
	background-position: -350px 7px;
}
.kosdaq_ul .change_01.down {
	background-position: -350px -45px;
}
.kosdaq_ul .change_01.stand {
	background-position: -350px -77px;
}
.kosdaq_ul .change_02 {
	background: url("../images/main/slide_main.png") no-repeat -350px 7px; width: 50px; color: rgb(4, 178, 90); padding-left: 13px; margin-right: 10px; display: block;
}
.kosdaq_ul .change_02.up {
	background-position: -350px -108px;
}
.kosdaq_ul .change_02.down {
	background-position: -350px -167px;
}
.kosdaq_ul .change_02.stand {
	background-position: -350px -137px;
}
.kosdaq_ul .won {
	width: 100px; color: rgb(129, 130, 132); font-size: 19px; margin-right: 15px; display: block;
}
.kosdaq_ul .gray {
	color: rgb(185, 185, 185);
}
.kosdaq .more {
	left: 485px; top: 14px; position: absolute;
}
.products_manu {
	width: 980px; height: 65px; margin-top: 15px; margin-left: -580px; position: relative;
}
.products_manu a {
	height: 100%; border-top-color: rgb(230, 230, 230); border-left-color: rgb(230, 230, 230); border-top-width: 1px; border-left-width: 1px; border-top-style: solid; border-left-style: solid; float: left;
}
.products_manu a.line_Lno {
	padding-left: px; border-left-color: rgb(230, 230, 230); border-left-width: 0px; border-left-style: solid;
}
.products_manu a.cf {
	border: currentColor; border-image: none; width: 410px;
}
.search {
	background: url("../images/main/slide_main.png") no-repeat 350px 8px; border: 2px solid rgb(4, 178, 90); border-image: none; height: 42px; margin-bottom: 20px; display: block; position: relative;
}
.search input {
	margin: 2px 0px 0px 15px; border: currentColor; border-image: none; width: 320px; height: 38px; color: rgb(154, 154, 154); line-height: 35px; font-size: 16px;
}
.search .btn_search {
	border: currentColor; border-image: none; width: 40px; height: 30px; color: transparent; font-size: 1px;
}
.search_center {
	margin: auto; text-align: center;
}
input.list {
	width: 280px; height: 30px; line-height: 30px; font-size: 13px; margin-right: 4px;
}
select.list {
	margin-right: 5px;
}
.search_left {
	margin: auto; text-align: left; padding-bottom: 20px;
}
input.list2 {
	width: 280px; height: 30px; line-height: 30px; font-size: 13px; margin-right: 4px;
}
select.list2 {
	width: 115px; margin-right: 5px;
}
.logo_footer {
	left: 0px; top: 0px; width: 180px; position: absolute;
}
.fnb {
	margin-left: 180px;
}
.address {
	margin-left: 180px;
}
.copyright {
	margin-left: 180px;
}
.fnb_ul {
	overflow: hidden; padding-top: 7px; margin-bottom: 13px;
}
.fnb_ul li {
	width: 120px; padding-left: 20px; float: left; position: relative;
}
.fnb_ul li:first-child {
	width: 80px; padding-left: 0px;
}
.fnb_ul li a {
	width: 100%; color: rgb(34, 34, 34); line-height: 20px; font-size: 14px; margin-right: 50px; display: block;
}
.fnb_ul li em {
	background: url("../images/common/copy_line.png") no-repeat 0px 0px; left: 74px; top: 3px; position: absolute;
}
.address span {
	color: rgb(102, 102, 102); line-height: 18px; font-size: 12px; font-weight: normal; margin-right: 11px;
}
.copyright {
	text-align: left; color: rgb(102, 102, 102); font-size: 12px; font-weight: 600; margin-top: 10px; margin-left: 0px;
}
.event_state {
	padding: 0px 4px; width: 45px; height: 22px; line-height: 22px; font-weight: 700; display: block;
}
.event_state.on {
	border: 1px solid rgb(0, 154, 206); border-image: none; color: rgb(29, 152, 206);
}
.event_state.off {
	border: 1px solid rgb(153, 153, 153); border-image: none; color: rgb(153, 153, 153);
}
p + .event_write {
	margin-top: 20px;
}
.event_write table {
	width: 100%; margin-bottom: 20px; table-layout: auto;
}
.event_write table tbody tr:first-child {
	border-top-color: rgb(221, 221, 221); border-top-width: 1px; border-top-style: solid;
}
.event_write table input {
	width: 98%;
}
.event_write table th {
	white-space: nowrap; background-color: rgb(247, 247, 247);
}
.event_write td {
	padding: 5px 9px; border: 1px solid rgb(221, 221, 221); border-image: none;
}
.event_write th {
	padding: 5px 9px; border: 1px solid rgb(221, 221, 221); border-image: none;
}
.table_view .event_write td {
	padding: 5px 9px; border: 1px solid rgb(221, 221, 221); border-image: none;
}
.event_write button.button {
	background: rgb(4, 178, 90); padding: 0px 15px; height: 29px; color: rgb(255, 255, 255); line-height: 29px;
}
.event_write span.button {
	background: rgb(153, 153, 153); padding: 0px 15px; border: 1px solid rgb(153, 153, 153); border-image: none; height: 29px; color: rgb(255, 255, 255); line-height: 29px; cursor: not-allowed;
}
.event_info {
	padding: 8px 10px; border: 1px solid rgb(221, 221, 221); border-image: none; margin-top: 20px;
}
.event_info p {
	background: url("../images/common/dot.gif") no-repeat left 8px; color: rgb(147, 147, 147); line-height: 18px; padding-left: 8px; font-size: 12px; position: relative;
}
.sub_content.event_content {
	width: 980px; float: none;
}
.sub_content.event_content .view_adit {
	padding: 25px 30px 30px; width: 920px;
}
.sub_content.event_content .view_adit p.img_center {
	text-align: center;
}
.wrap.quick #quick_menu {
	margin-left: 540px;
}
#quick_menu {
	left: 50%; top: 150px; width: 111px; text-align: center; margin-left: 505px; position: absolute; z-index: 1000;
}
#quick_menu h1 {
	background: rgb(77, 147, 205); height: 45px; color: rgb(255, 255, 255); line-height: 45px; font-size: 13px;border-top:1px solid #d0d0d0;border-left:1px solid #d0d0d0;border-right:1px solid #d0d0d0;
}
	#quick_menu ul {
		border: 1px solid rgb(208, 208, 208);
		border-image: none;
	}

		#quick_menu ul li {
			background: url("/common/images/common/quick_bg.png") no-repeat 0px 0px;
			min-height: 77px;
		}

			#quick_menu ul li a {
				color: rgb(55, 55, 55);
				font-size: 13px;
				display: block;
				min-height: 77px;
			}

	#quick_menu .qu_01 {
		background-position: -1px 0px;
	}

	#quick_menu .qu_02 {
		background-position: -1px -78px;
	}

	#quick_menu .qu_03 {
		background-position: -1px -157px;
	}

	#quick_menu .qu_04 {
		background-position: -1px -236px;
	}

	#quick_menu .qu_05 {
		background-position: -1px -315px;
	}

	#quick_menu .qu_06 {
		background-position: -1px -390px;
	}

#quick_menu .quick_ad {
	margin-top: 10px;
}
#quick_menu .btn_top {
	background: url("../images/common/btn_top.png") no-repeat 0px 0px; left: 22px; width: 29px; height: 29px; bottom: -40px; position: absolute;
}
#quick_menu .btn_top span {
	text-indent: -9999em; display: block;
}
.i_new {
	background: url("../images/products/i_new.png") no-repeat 0px 0px; left: 0px; top: 0px; width: 50px; height: 50px; position: absolute;
}

.i_new em {
	text-indent: -9999em; vertical-align: middle; display: block;
}
.s_new {
	background: url("../images/products/i_new.png") no-repeat 0px 0px; left: 0px; top: 0px; width: 50px; height: 50px; position: absolute;
}
.i_animal em {
	text-indent: -9999em; vertical-align: middle; display: block;
}
.i_human em {
	text-indent: -9999em; vertical-align: middle; display: block;
}
.i_animal {
	background: url("../images/products/i_animal.png") no-repeat 0px 0px; left: 0px; top: 0px; width: 50px; height: 50px; position: absolute;
}
.i_human {
	background: url("../images/products/i_human.png") no-repeat 0px 0px; left: 0px; top: 0px; width: 50px; height: 50px; position: absolute;
}
.btn_search {
	margin: 0px; border: 1px solid rgb(4, 178, 90); border-image: none; width: 150px; height: 32px; color: rgb(4, 178, 90); line-height: 32px; font-family: Helvetica, sans-serif, µ¸¿ò, dotum; font-size: 14px; font-weight: 600; vertical-align: middle; display: inline-block;
}
.btn_search.small {
	width: 96px;
}
.btn_search_i {
	background: url("../images/common/i_search.png") no-repeat 0px 0px; border: 1px solid rgb(4, 178, 90); border-image: none; width: 45px; height: 32px; text-indent: -9999em;
}
.view_story {
	background: url("../images/products/i_products.png") no-repeat 0px -247px; height: 20px; color: rgb(147, 147, 147); text-indent: 16px; font-size: 12px; font-weight: bold;
}
.btn_view_list {
	background: url("../images/products/i_products.png") no-repeat 0px -297px; height: 20px; color: rgb(147, 147, 147); text-indent: 18px; font-size: 12px; font-weight: bold;
}
.view_video {
	background: url("../images/products/i_products.png") no-repeat 0px -345px; height: 20px; color: rgb(147, 147, 147); text-indent: 18px; font-size: 12px; font-weight: bold;
}
.view_print {
	background: url("../images/products/i_products.png") no-repeat 0px -195px; height: 20px; color: rgb(147, 147, 147); text-indent: 18px; font-size: 12px; font-weight: bold;
}
.btn_view_prev {
	background: url("../images/products/i_products.png") no-repeat 0px -398px; height: 20px; color: rgb(147, 147, 147); text-indent: 18px; font-size: 12px; font-weight: bold;
}
.btn_view_next {
	background: url("../images/products/i_products.png") no-repeat 0px -438px; height: 20px; color: rgb(147, 147, 147); text-indent: 18px; font-size: 12px; font-weight: bold;
}
.listview_btns {
	text-align: right;
}
.listview_btns button {
	margin-left: 15px;
}
.listview_btns a {
	margin-left: 15px;
}
.sns a {
	background: url("../images/products/i_sns.png") no-repeat 0px 0px; width: 18px; height: 17px; margin-left: 12px; display: inline-block;
}
.sns a span {
	text-indent: -9999em; display: block;
}
.sns a.i_f {
	background-position: 0px 0px;
}
.sns a.i_t {
	background-position: 0px -20px;
}
.sns a.i_p {
	background-position: 0px -40px;
}
.sns a.i_b {
	background-position: 0px -60px;
}
.sns_box {
	top: -30px; right: 0px; position: absolute;
}
.sns_box li {
	margin-left: 15px; float: left;
}
.sns_box_view {
	left: 0px; bottom: 57px; overflow: hidden; position: absolute;
}
.sns_box_view li {
	margin-right: 13px; float: left;
}
.btn_view_list {
	background: url("../images/common/i_list.png") no-repeat 0px 0px; height: 20px; color: rgb(147, 147, 147); text-indent: 23px; font-size: 12px; font-weight: bold;
}
a.button {
	padding: 0px 15px; height: 29px;
}
.button {
	margin: 0px; padding: 0px 20px; height: 31px; text-align: center; line-height: 29px; font-size: 13px; font-weight: 600; vertical-align: middle; display: inline-block; min-width: 60px;
}
.button.next {
	border: 1px solid rgb(4, 178, 90); border-image: none; color: rgb(4, 178, 90);
}
.button.blue {
	border: 1px solid rgb(52, 152, 255); border-image: none; width: 50px; height: 29px; color: rgb(52, 152, 255); line-height: 27px;
}
table .button {
	margin: 0px; padding: 0px; height: 26px; line-height: 22px; font-size: 13px; font-weight: 600; vertical-align: middle; display: inline-block; min-width: 60px;
}
table .job_on {
	border: 1px solid rgb(52, 152, 255); border-image: none; color: rgb(52, 152, 255);
}
table .job_off {
	border: 1px solid rgb(175, 175, 175); border-image: none; color: rgb(255, 255, 255); min-width: 62px; background-color: rgb(175, 175, 175);
}
table td a.button {
	margin: auto; width: 40px !important; height: 25px; text-align: center; text-indent: 0px; font-weight: bold;
}
table td a.button.job_on {
	color: rgb(52, 152, 255);
}
table .button.blue {
	border: 1px solid rgb(52, 152, 255); border-image: none; width: 50px; height: 29px; color: rgb(52, 152, 255); line-height: 27px;
}
table .button.blue2 {
	border: 1px solid rgb(52, 152, 255); border-image: none; height: 29px; color: rgb(52, 152, 255); line-height: 27px; min-width: 100px;
}
.realupload {
	width: 96px; right: 0px; bottom: 0px; position: absolute; z-index: 2; cursor: pointer; opacity: 0; -moz-opacity: 0;
}
.fakeupload {
	background: url("../images/common/btn_imgfile.png") no-repeat 0px 0px; width: 96px; display: inline-block;
}
.fakeupload input {
	width: 1px; visibility: hidden;
}
.window_popup {
	width: 527px; height: 600px;
}
.window_popup h2 {
	margin: 0px; padding: 10px; width: 100%; color: rgb(104, 106, 113); font-size: 18px; font-weight: 600; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid;
}
.window_popup .textarea {
	padding: 30px 20px 0px; border: 1px solid rgb(238, 238, 238); border-image: none; width: 100%; height: 630px; color: rgb(102, 102, 102); line-height: 180%; font-family: µ¸¿ò; font-size: 11px; -ms-overflow-y: scroll; background-color: rgb(228, 228, 228);
}
.pop_wrap {
	margin: 0px; padding: 0px; left: 0px; top: 0px; width: 100%; position: fixed; z-index: 9999;
}
.pop_wrap_alpha {
	margin: 0px; padding: 0px; left: 0px; top: 0px; width: 100%; height: auto !important; display: block; position: fixed !important; z-index: 50; min-height: 100%; opacity: 0.7; background-color: rgb(255, 255, 255); -moz-opacity: 0.70;
}
.popupContent {
	background: rgb(255, 255, 255); border: 1px solid rgb(219, 219, 219); border-image: none; left: 50%; top: 200px; height: auto !important; font-size: 12px; margin-left: -255px; position: fixed; z-index: 9999; min-height: 313px; min-width: 500px; box-shadow: 2px 3px 7px 0px #bfbfbf; -webkit-box-shadow: #bfbfbf 2px 3px 7px 0; -moz-box-shadow: #bfbfbf 2px 3px 7px 0;
}
.popupContent.top {
	top: 10%; width: 700px; height: 422px;
}
.popupContent_main {
	background: none; margin: 0px auto; left: 50%; top: 50%; height: auto !important; font-size: 12px; position: fixed; z-index: 9999;
}
.popupContent > h1 {
	padding: 10px 20px 0px; cursor: pointer;
}
.popupContent > h1.no {
	color: transparent; text-indent: -9999em; font-size: 1px;
}
.popup_title_01 {
	text-align: left; color: rgb(52, 152, 255); font-size: 18px; font-weight: 600;
}
.popupContent .i_my {
	background: url("../images/common/pop_i_head.png") no-repeat 0px 48%; height: 100%; padding-left: 50px; display: inline-block;
}
.popupContent {
	text-align: center; padding-bottom: 30px;
}
.popupContent .lineBox_1 {
	color: rgb(120, 120, 120); line-height: 230px; margin-bottom: 30px; border-bottom-color: rgb(227, 227, 227); border-bottom-width: 1px; border-bottom-style: solid;
}
.popupContent .job_ok_neme {
	color: rgb(115, 115, 115); font-size: 15px; font-weight: 600;
}
.popupContent .job_ok_neme strong {
	color: rgb(52, 152, 255); font-size: 25px; font-weight: 600;
}
.popupContent .lineBox {
	margin: 10px 5%; height: 70px; color: rgb(120, 120, 120); border-top-color: rgb(227, 227, 227); border-bottom-color: rgb(227, 227, 227); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.popupContent .lineBox .zone_search {
	margin-top: 18px;
}
.popupContent .lineBox .zone_search label {
	margin-right: 5px; display: inline-block;
}
.popupContent .lineBox .zone_search input {
	width: 180px; height: 29px; margin-right: 5px;
}
.popupContent .button {
	height: 34px; line-height: 34px; display: inline-block; min-width: 150px;
}
.popupContent .button.gray {
	background: rgb(169, 169, 169); color: rgb(255, 255, 255);
}
.popupContent .button.green {
	background: rgb(4, 178, 90); color: rgb(255, 255, 255);
}
.popupContent .button.w310 {
	width: 310px !important;
}
.popupContent .button.w100 {
	width: 70px !important;
}
.mainPopup_btn {
	width: 100%; height: 50px; line-height: 50px; float: left; background-color: rgb(255, 255, 255);
}
.mainPopup_btn input {
	margin-top: 17px; float: left;
}
.mainPopup_btn label {
	color: rgb(129, 129, 129); line-height: 50px; letter-spacing: -1px; font-size: 14px;
}
.mainPopup_btn .left {
	width: 100px; margin-left: 20px; float: left; display: inline-block;
}
.mainPopup_btn .left input {
	margin-right: 5px;
}
.mainPopup_btn .right {
	width: 100px; text-align: right; margin-right: 20px; float: right; display: inline-block;
}
.btn_close {
	background: url("../images/main/btn_close.png") no-repeat 0px 48%; top: 17px; width: 24px; height: 25px; right: 17px; text-indent: -9999em; position: absolute;
}
.popupContent .lineBox_input {
	padding: 20px; text-align: left; color: rgb(120, 120, 120); border-bottom-color: rgb(227, 227, 227); border-bottom-width: 1px; border-bottom-style: solid;
}
.lineBox_input .myinfo {
	margin: 50px 80px 20px; position: relative;
}
.lineBox_input .myinfo .txt {
	left: -70px; top: -50px; color: rgb(115, 115, 115); font-weight: bold; position: absolute;
}
.lineBox_input .myinfo .row {
	overflow: hidden; margin-bottom: 15px;
}
.lineBox_input .myinfo label {
	width: 80px; line-height: 30px; float: left;
}
.lineBox_input .myinfo input {
	width: 230px; float: left;
}
.popupContent .btn_center {
	margin-top: 30px; vertical-align: middle;
}
.popupContent .btn_center :first-child.button {
	margin-right: 10px;
}
.popupContent .btn_center :first-child.a {
	margin-right: 10px;
}
.popupContent .lineBox_01 {
	padding: 20px; text-align: left; color: rgb(120, 120, 120); border-bottom-color: rgb(227, 227, 227); border-bottom-width: 1px; border-bottom-style: solid; position: relative;
}
.popupContent .lineBox_01 .txt {
	left: 20px; color: rgb(115, 115, 115); font-size: 11px; font-weight: bold; position: absolute;
}
.popupContent .txt_blue {
	text-align: left; color: rgb(52, 152, 255); padding-bottom: 15px; font-weight: bold;
}
.popupContent .txt_01 {
	margin: 0px 0px 30px; text-align: left; color: rgb(151, 151, 151); line-height: 130%; font-size: 11px;
}
.popupContent .txt_02 {
	margin: 0px 0px 15px 60px; color: rgb(139, 139, 139); line-height: 150%; font-size: 12px;
}
.popupContent .txt_from {
	margin: 0px 0px 15px 60px;
}
.popupContent .txt_one {
	background: url("../images/common/popup_bg_icon.gif") no-repeat 50% 46%; height: 200px; text-align: center;
}
.popupContent .txt_one p {
	padding-top: 160px;
}
.ir {
	text-indent: -9999em; overflow: hidden;
}
.hidden {
	display: none !important; visibility: hidden;
}
hr {
	display: none !important; visibility: hidden;
}
.acc-hidden {
	margin: -1px; padding: 0px; border: 0px currentColor; border-image: none; width: 1px; height: 1px; overflow: hidden; position: absolute; clip: rect(0px, 0px, 0px, 0px);
}
.acc-hidden.focusable:active {
	margin: 0px; width: auto; height: auto; overflow: visible; position: static; clip: auto;
}
.acc-hidden.focusable:focus {
	margin: 0px; width: auto; height: auto; overflow: visible; position: static; clip: auto;
}
.invisible {
	visibility: hidden;
}
.clear {
	
}
.clear::after {
	clear: both; display: block; content: "";
}
.fB {
	font-weight: 600;
}
.fb {
	font-weight: 600;
}
.top {
	vertical-align: top;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}
.center {
	padding: 0px !important; text-align: center !important;
}
.no_content {
	background: rgb(233, 233, 233); text-align: center; color: rgb(102, 102, 102); line-height: 400px; font-weight: bold; min-height: 350px;
}
.more {
	background: url("../images/main/slide_main.png") no-repeat -242px 0px; width: 60px; height: 19px; display: block;
}
.more span {
	text-indent: -9999em; display: block;
}
@media not all
{
.fB {
	font-weight: bold !important;
}
.fb {
	font-weight: bold !important;
}
.ly a {
	font-weight: bold !important;
}
.button {
	font-weight: bold !important;
}
.gnb_ul > li > a {
	font-weight: bold !important;
}
.list_Item h2 {
	font-weight: bold !important;
}
.view_text h1 {
	font-weight: bold !important;
}
.snb > ul > li > a {
	font-weight: bold !important;
}
.sy li a {
	font-weight: bold !important;
}
.pageTitle {
	font-weight: bold !important;
}
.btn_search {
	font-weight: bold !important;
}
.products_total a {
	font-weight: bold !important;
}
.view_print {
	font-weight: bold !important;
}
.view_story {
	font-weight: bold !important;
}
.list_Item h1 {
	font-weight: bold !important;
}
.list_Item.about h1 {
	font-weight: bold !important;
}
.table_style_01.juju .total td {
	font-weight: bold !important;
}
.job_ok_neme {
	font-weight: bold !important;
}
.sitemap h1 {
	font-weight: bold !important;
}
.title_p {
	font-weight: bold !important;
}
.arrow_list li {
	font-weight: bold !important;
}
.leave .list ul li {
	font-weight: bold !important;
}
.table_style_01 thead th {
	font-weight: bold !important;
}
h1 {
	font-weight: bold !important;
}
h2 {
	font-weight: bold !important;
}
h3 {
	font-weight: bold !important;
}
h4 {
	font-weight: bold !important;
}
h5 {
	font-weight: bold !important;
}
label {
	font-weight: bold !important;
}
strong {
	font-weight: bold !important;
}
}
.lineT {
	border-top-color: rgb(219, 219, 219) !important; border-top-width: 1px !important; border-top-style: solid !important;
}
.lineB {
	border-bottom-color: rgb(219, 219, 219) !important; border-bottom-width: 1px !important; border-bottom-style: solid !important;
}
.lineR {
	border-right-color: rgb(219, 219, 219) !important; border-right-width: 1px !important; border-right-style: solid !important;
}
.col3 {
	width: 30%; text-align: left; float: left;
}
.col4 {
	width: 25%; text-align: left; float: left;
}
.col5 {
	width: 20%; text-align: left; float: left;
}
.inlineB {
	display: inline;
}
.bor_no {
	border: currentColor; border-image: none;
}
.w20p {
	width: 20% !important;
}
.w75p {
	width: 75% !important;
}
.w84p {
	width: 84% !important;
}
.w80p {
	width: 80% !important;
}
.w85p {
	width: 85% !important;
}
.w90p {
	width: 90% !important;
}
.w95p {
	width: 95% !important;
}
.w100p {
	width: 100% !important;
}
.pLR5 {
	padding: 0px 5px;
}
.mT_2 {
	margin-top: -2px;
}
.mT_4 {
	margin-top: -4px !important;
}
.mT20 {
	margin-top: 20px;
}
.mTL5 {
	margin: 5px 0px 0px 8px;
}
.mL5 {
	margin-left: 5px;
}
.mR5 {
	margin-right: 5px;
}
.mR10 {
	margin-right: 10px;
}
.mB10 {
	margin-bottom: 10px !important;
}
.mB20 {
	margin-bottom: 20px;
}
.mB30 {
	margin-bottom: 30px;
}
.mB50 {
	margin-bottom: 50px;
}
.date_in {
	background: url("../images/ico-calendar.jpg") no-repeat 98%; width: 140px;
}
.btn_plus {
	margin-bottom: 10px; position: relative;
}
.btn_plus button.button {
	top: -40px; right: 0px; position: absolute;
}
