<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Log4Net 설정-->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="D:/WEB_LOG/XWing/Log.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n"/>
      </layout>
    </appender>
    <!-- Log4Net 설정 //-->

    <root>
      <level value="ALL"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
  
  <!-- DB Connection String -->
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=dev001.mediagram.co.kr;Initial Catalog=DHNP;Persist Security Info=True;User ID=mgDev;Password=mg_!@34" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <!-- 키 셋팅 -->
  <appSettings>
    <add key="log4net.Internal.Debug" value="true"/>
    <add key="SERVER_CHECKUP_YN" value="N"/>
    <add key="AESKEY" value="abcdefghijklmnopqrstuvwxyz123456"/>

    <!-- Etrade 정보 -->
    <add key="XING_SERVER_URL" value="demo.ebestsec.co.kr"/>
    <add key="XING_SERVER_PORT" value="20001"/>
    <add key="XING_USER_ID" value="dhnp"/>
    <add key="XING_USER_PWD" value="dhnp1234"/>
    <add key="SH_CODE" value="054670"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
