@charset "utf-8";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/* Reset */
html, 
body{width:100%;}
html{overflow-x:auto; overflow-y:scroll;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button,legend,input,textarea,label,figure,figcaption
 { margin:0; padding:0; font-weight:normal; font-family:'나눔고딕', NanumGothic, Malgun Gothic, 돋움 ,dotum, Helvetica, sans-serif, 'Tahoma'; }
body{background-color:#ffffff;  text-align:left; font-size:81.3%; *word-break:break-all; -ms-word-break:break-all; }
h1,h2,h3,h4,h5, label { font-weight:normal; }
img,fieldset,iframe{border:0 none;}
li{list-style:none}
input,select,button,label { vertical-align:middle; }
img{vertical-align:top; }
i,em,address{font-style:normal}
label,button{ cursor:pointer;}
button{ margin:0; padding:0; border:0; background:none; }
a{color:#939393;text-decoration:none}
a:hover{color:#333;text-decoration:none}
button * { position:relative }
button img {left:-3px;*left:auto; }
@-moz-document url-prefix() { button span {left:-3px; top:-1px;*left:auto; } } 
option{padding-right:6px}
hr{visibility: hidden; }
legend{*width:0}
/*table {border-collapse: collapse; border-spacing:0; border:0;  } */ /*border-collapse:collapse; table-layout:fixed; */
table {border-spacing:0; border-collapse:collapse; }
table, td, th { border:0px solid #dbdbdb; line-height: 160%; }
/*********************************************
* FORM  
*********************************************/
select   {min-width:100px; padding:4px 0 4px 5px; height:32px; line-height:32px;  border:solid 1px #cac5c4; font-size:12px !important; font-weight:600 !important;  color:#686a71;  vertical-align: middle;}
input    {padding: 0 5px; font-size:13px;border:1px solid #abadb3; }
textarea    {border:solid 1px #cac5c4; font-size:12px; color:#8f887c; line-height:15px; padding:5px; background-color:#ffffff;}
input.check  {height: 12px; border:solid 0 #cbcbcb; vertical-align:middle;}
input.radio  {height: 12px; border:solid 0 #cbcbcb; vertical-align:middle;}
input[type="text"],
input[type="search"] {color:#8f887c; border:1px solid #cac5c4;  height:32px; line-height:32px; vertical-align: middle; }
input[type="password"] {color:#8f887c; border:1px solid #cac5c4;  height:32px; line-height:32px; vertical-align: middle; }
input[type="checkbox"] { border:none; vertical-align: middle;}
input[type="radio"] { border:none; vertical-align: middle;}
table   input[type="text"] {  height: 23px; line-height:23px; padding:2px 4px;  }
/*********************************************
* BODY   background:#252323; 
*********************************************/
html, body {
    scrollbar-3dlight-color:#e6e6e6;
	scrollbar-arrow-color:#7E7E7E;
	scrollbar-track-color:#FFFFFF;
	scrollbar-darkshadow-color:#FFFFFF;
	scrollbar-face-color:#FFFFFF;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-shadow-color:#e6e6e6;
}

/*********************************************
*   html 5     ( normallze.css)   
*********************************************/
html {
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
/* HTML5 display */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
label,
nav,
section,
summary,
fieldset,
address,
menu,
i  { display: block;}
/*1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.*/
audio,canvas,progress,video { display: inline-block; /* 1 */vertical-align: baseline; /* 2 */}
/*Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices. */
audio:not([controls]) { display: none; height: 0;}
/* Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.*/
[hidden],
template { display: none;}
/* Links
   ========================================================================== */
/** Remove the gray background color from active links in IE 10. */
a {background: transparent;}
/* Improve readability when focused and also mouse hovered in all browsers. */
a:active, a:hover { outline: 0; }
/* Text-level semantics
   ========================================================================== */
/** Address styling not present in IE 8/9, Safari 5, and Chrome. */
abbr[title] {border-bottom: 1px dotted;}
/* Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.*/
b, strong { font-weight: bold;}
/* Address styling not present in Safari 5 and Chrome.*/
dfn { font-style: italic;}
/** Address styling not present in IE 8/9.*/
mark { background: #ff0; color: #000;}
/** Address inconsistent and variable font size in all browsers.*/
small { font-size: 80%;}
/* Prevent `sub` and `sup` affecting `line-height` in all browsers.*/
sub, sup {  font-size: 75%;  line-height: 0;  position: relative; vertical-align: baseline;}
sup {  top: -0.5em;}
sub { bottom: -0.25em;}
img { border: 0;}
/* Correct overflow displayed oddly in IE 9.*/
svg:not(:root) { overflow: hidden;}
/* Grouping content
   ========================================================================== */
hr { -moz-box-sizing: content-box;box-sizing: content-box; height: 0;}
pre { overflow: auto; }
/* Address odd `em`-unit font size rendering in all browsers.*/
code,kbd,pre,samp { font-family: monospace, monospace; font-size: 1em; }
/* Forms
   ========================================================================== */
/* 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome. */

/*Address `overflow` set to `hidden` in IE 8/9/10. */
button { overflow: visible; }
/* Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8+, and Opera
 * Correct `select` style inheritance in Firefox.*/
button,
select { text-transform: none;}
/* 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.*/
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */ }
/* Re-set default cursor for disabled elements.*/
button[disabled],
html input[disabled] {
  cursor: default; }
/*Remove inner padding and border in Firefox 4+.*/
button::-moz-focus-inner,
input::-moz-focus-inner { border: 0; padding: 0; }
/* Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet. */
 input { line-height: normal; }
/* It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.*/
input[type="checkbox"],
input[type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */}
/* Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button { height: auto;}
/* 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).*/
input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}
/* Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).*/
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/** 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.*/
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}
/* Remove default vertical scrollbar in IE 8/9.*/
textarea {overflow: auto;}
/* Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.*/
optgroup { font-weight: bold;}

