/* English
.gnb .gnb_ul li:nth-child(3) {display:none;}
.gnb .gnb_ul li:last-child {display:none;} */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, form, fieldset, p, button, legend, input, textarea, label, figure, figcaption  {font-family: '³ª´®°íµñ', NanumGothic, Malgun Gothic, µ¸¿ò ,dotum, Helvetica, sans-serif, 'Tahoma'; font-weight: normal; text-rendering: optimizelegibility;}
.fB, .fb, .ly a, .button, .list_Item h2, .view_text h1, .snb>ul>li>a, .sy li a, .pageTitle, .btn_search, .products_total a, .view_print, .view_story, .list_Item h1, .list_Item.about h1, .table_style_01.juju .total td, .job_ok_neme, .sitemap h1, .title_p, .arrow_list li, .leave .list ul li, .table_style_01 thead th {font-weight:normal !important;}


.logo  {background-position:0 13px;}
.gnb_ul {margin-left:280px;}
.gnb_ul .gnb_01, .gnb_ul .gnb_02, .gnb_ul .gnb_04 {width:220px;}
.gnb_ul>li>a {padding-top:20px; font-weight:bold;}
.snb_title {text-indent: -9999px;}
.header_content {min-height: 60px;}
#quick_menu .qu_05 {display:none;}

/* Main */
.products>h1 {width:100px;}
.news_title {width:200px;}
.news_ul li em {width: 250px;height: 33px;line-height: 33px;float: left;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; color:#999}

/* Snb */
.snb>ul>li>a {background: url(../images/common/snb_arrow.png) no-repeat 230px -32px;}
.snb>ul>li>a:hover, .snb>ul>li>a.onhover {background: #04b25a url(../images/common/snb_arrow.png) no-repeat 230px 21px;}

/* Search */
.list_Item.total {padding-bottom:30px;}

/* Vistion */
.vision_content			{color:#666;}
.vision_content .title {font-size:18px; padding-bottom:40px; font-weight:bold; line-height:22px;}
.vision_content .title em {color:#04b25a}
.vision_content	h2 {color:#ff8534; font-size:22px; padding-bottom:15px; padding-left:10px;}
.vision_content	h3 {color:#000; padding-bottom:10px; font-size:16px; font-weight:400 !important; padding-left:10px;}
.vision_content	h3 em {color:#04b25a}
.vision_content .arrow_list span.arrow {font-size:10px; display:inline-block; position:absolute; left:0px; }
.vision_content .arrow_list {font-size:14px; line-height:100%;}
.vision_content .arrow_list li {padding-bottom:10px; position:relative; padding-left:15px; line-height:18px;}
.vision_content .ul_col_2>ul {width:280px;}
.vision_content .ul_col_2> li:first-child  {padding: 0 20px 0 0;}
.vision_content .ul_col_2> li {float: left; padding-left:0px; }
.vision_content .title_p {margin-bottom:0px;}

/* History */
.tap_content_box .leave .list h2 {text-indent:10px; width:70px;}
.tap_content_box .leave .list ul {width:600px;}
.tap_content_box .leave .list li {position:relative; padding-left:60px; }
.tap_content_box .leave .list li span {position:absolute; left:0px;}

/* product */
.search_products {display:block; overflow:hidden; position:relative;}
.search_products legend {display:none; border:0px; background:none;}
.search_products .search_input {width:485px;}
.search_products .search_01 label.fB {display:none;}
.search_products .search_01 .btn_search.fB {position:absolute; right:20px; height:34px;}
.search_products dt.fB.about {display:none;}
.search_products .products_total dd {width:100%; margin:0;}
.search_products .products_total_ul {float:left; width:100%; border:1px #dfdfdf solid;}
.search_products .products_total_ul li {border:0px}
.search_products .products_total_ul li.right {padding:0px;}
.search_products .products_total_ul.about .total {height:65px;}
.search_products .products_total_ul.about .total a { line-height:65px;}
.list_Item p {min-height:inherit;}

/* Sitemap */
.sitemap .col:first-child {margin-left: 280px;}
.sitemap .col {width: 220px;float: left;}

/* contact us */
.map_list>li:first-child {width:inherit;}
.map_list>li { width: 100%; height:inherit; color: #9d9d9d; float:inherit; padding-bottom:10px; }
.map_list .w170 {width:inherit;}