@charset "utf-8";

pre,
blockquote {border: 1px solid #999; page-break-inside: avoid; }

thead {display: table-header-group; }
tr,
img {page-break-inside: avoid; }
img {max-width: 100% !important; }


.header, .footer { display:none }
.snb { display:none }
#quick_menu { display:none }
.sub_content { width:100%; position: absolute; top:-130px; left:0; }


	